@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Smooch+Sans:wght@100..900&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color:  #291e3b;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color:#ddd;
    margin-top: 20px;
    font-family: "Smooch Sans", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 50px;
    font-style: normal;
    }


form {
    width: 600px;
    margin: 20px auto;
    background: #826dab;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border: 3px solid black;
    
}

form div {
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    font-weight: bold;
    color: #ddd;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #101010;
    border-radius: 4px;
    box-sizing: border-box;
}
.submit {
    width: 40%;
    background: linear-gradient(135deg, #007bff, #0056b3);
    color: white;
    border: none;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 6px rgba(0, 123, 255, 0.3);
    letter-spacing: 1px;
    position: relative;
    bottom: -5px;
    margin-left: 30%;
}

.submit:hover {
    background: linear-gradient(135deg, #0056b3, #003d7a);
    box-shadow: 0px 6px 10px rgba(0, 85, 204, 0.5);
    transform: translateY(-2px);
}

.submit:active {
    transform: translateY(1px);
    box-shadow: 0px 2px 4px rgba(0, 85, 204, 0.3);
}

.success,
.error {
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    width: 50%;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

.success {
    background-color: #4CAF50;
    color: white;
}

.error {
    background-color: #f44336;
    color: white;
}