@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Smooch+Sans:wght@100..900&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #291e3b;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
}

h1 {
    text-align: center;
    color: #291e3b;
    font-family: "Smooch Sans", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 50px;
    font-style: normal;
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

select,
input,
button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input {
    width: 94%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    /* background-color: #007bff;
    color: white;
    cursor: pointer;
    border: none;
    font-family: "Smooch Sans", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 25px;
    font-style: normal; */
    width: max-content;
    background: linear-gradient(135deg, #007bff, #0056b3);
    color: white;
    border: none;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 6px rgba(0, 123, 255, 0.3);
    letter-spacing: 1px;
    position: relative;
    bottom: -5px;
    margin-left: 30%;

}

button:hover {
    background: linear-gradient(135deg, #0056b3, #003d7a);
    box-shadow: 0px 6px 10px rgba(0, 85, 204, 0.5);
    transform: translateY(-2px);
}

button:active {
    transform: translateY(1px);
    box-shadow: 0px 2px 4px rgba(0, 85, 204, 0.3);
}


.message {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

.message.success {
    color: green;
}

.message.error {
    color: red;
}
