@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Smooch+Sans:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-image: url('10529590.jpg'); */
    background-position: center;
    background-size: cover;
}

.pms {
    text-align: center;
    font-size: 40px;
    color: #ffffff;
    position: absolute;
    top: 50px;
}

.pms i {
    margin-right: 10px;
    color: #1e71cf;
}

.pms a{
    text-decoration: none;
    font-size: 40px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.box {
    width: 420px;
    height: 320px;
    color: #fff;
    border-radius: 10px;
    padding: 40px 30px;
    backdrop-filter: blur(15px);
    box-shadow: 0px 0px 5px black;
}

.box h1 {
    font-size: 36px;
    text-align: center;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
    color: #1e71cf;
}

.box .input_box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    color: blue;
}

.input_box input {
    width: 95%;
    height: 100%;
    /* background: transparent; */
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 2);
    border-radius: 40px;
    padding-left: 15px;
}

.input_box input::placeholder {
    color: #111010;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
}

.input_box i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: black;
}

.box .btn {
    position: absolute;
    top: 80%;
    left: 35%;
    width: 30%;
    height: 45px;
    background-color: #1e71cf;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

.btn:hover {
    background-color: #4991e5;
    color: #f8fbff;
}

.head {
    position: absolute;
    top: 10px;
    color: white;
    font-size: 60px;
    font-size: 36px;
    text-align: center;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
}

.error-message {
    color: red;
    text-align: center;
    font-family: "Montserrat", serif;
    margin-bottom: 5px;
}

.register-link {
    font-family: "Montserrat", serif;
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
    color: rgb(0, 0, 0);
}

.register-link a {
    color: #1e71cf;
    text-decoration: none;
    font-weight: bold;
}

.register-link a:hover {
    text-decoration: underline;
}

.Video_BG {
    position: fixed;
    top: 0;
    bottom: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.input_box .toggle-password {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: black;
}