@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Smooch+Sans:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Smooch Sans", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.med_list {
    position: absolute;
    left: 15%;
    margin-top: 70px;
    border-collapse: collapse;
    width: fit-content;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}


input {
    width: 90%;
    border-radius: 4px;
    margin-right: 10px;
}

label {
    font-size: 25px;
    margin: 3%;
}

input:focus {
    border-color: #000000;
    box-shadow: 0px 0px 8px #000000;
    outline: none;
}

.mlist {
    margin-top: 10px;
    position: absolute;
    left: 35%;
    font-size: 30px;
}

.ad {
    position: absolute;
    top: 45%;
    left: 33%;
    margin-top: 40px;
    width: fit-content;
    font-size: xx-large;
}

.med_add {
    position: absolute;
    top: 47%;
    left: 23%;
    margin-top: 70px;
    width: 500px;
}

.med_add form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.submit{
    position: absolute;
    top: 90%;
    left: 40%;
    background-color: #000000;
    color: #ddd;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 30px;
    width: 15%;
    height: 10%;
}

.success {
    position: absolute;
    top: 70%;
    left: 60%;
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.error {
    position: absolute;
    top: 70%;
    left: 60%;
    background-color: #f44336;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}