body {
    font-family: sans-serif;
    margin: 20px;
}

h2 {
    margin-bottom: 20px;
}

.med_list {
    border-collapse: collapse;
    width: fit-content;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.success {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 80%;
}

.error {
    background-color: #f44336;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 80%;
}