* {
    margin: 0;
    padding: 0;
    font-optical-sizing: auto;
    font-weight: 500;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #291e3b;
    color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    margin-bottom: 20px;
}

.section-title {
    background: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    margin: 30px auto 10px;
    color: #333;
}

.type-header {
    background: #ddd;
    padding: 5px 15px;
    margin: 20px auto 10px;
    border-radius: 5px;
    display: inline-block;
    color: #000;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 900px;
    margin: 20px auto;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    background-color: #eaeaea;
    color: #000;
}

th {
    background-color: #291e3b;
    color: #ddd;
}

.expiring {
    color: orange;
    font-weight: bold;
}

.low-stock {
    color: red;
    font-weight: bold;
}
